# Prediction with Sub-Catchment Areas For Each Site

## Variables

In [52]:
RESULT_FOLDER = "/run/media/jnsll/b0417344-c572-4bf5-ac10-c2021d205749/exps_modflops/results"
RATES = [
        1.0,
        2.0,
        7.0,
        15.0,
        21.0,
        30.0,
        45.0,
        50.0,
        60.0,
        75.0,
        90.0,
        100.0,
        125.0,
        150.0,
        182.0,
        200.0,
        250.0,
        300.0,
        330.0,
        365.0,
        550.0,
        640.0,
        730.0,
        1000.0,
        1500.0,
        2000.0,
        2250.0,
        3000.0,
        3182.0,
        3652.0,
    ]

In [53]:
chronicle = 0
approx = 0
permeability = 27.32

In [54]:
import pandas as pd

## Prediction

In [59]:
# Importing the dataset and storing it inside a dataframe
input_data = pd.read_csv(RESULT_FOLDER + "/" + "DataInputPred_SUB.csv", sep=",")
input_data

,Site,SubCatch,Slope,Elevation,LC,SAR,Area,CV,HV,HError,Rate
0,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.00000,1.0
1,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.00331,2.0
2,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.00331,7.0
3,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.00331,15.0
4,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.00331,21.0
...,...,...,...,...,...,...,...,...,...,...,...
6805,40,15,8.875044,224.490265,933.385135,1.006683,4387500,0,12,NaN,NaN
6806,40,16,6.585227,178.075058,700.135624,1.003876,2930625,0,20,NaN,NaN
6807,40,17,5.182087,173.802765,685.592278,1.002990,3661875,0,34,NaN,NaN
6808,40,18,4.617903,196.079285,597.577939,1.002033,5023125,0,68,NaN,NaN
6809,40,19,2.886285,115.072578,1073.758334,1.000678,697500,0,14,NaN,NaN

In [60]:
# Removing rows with missing data
input_data_no_nan = input_data.dropna()
input_data_no_nan

,Site,SubCatch,Slope,Elevation,LC,SAR,Area,CV,HV,HError,Rate
0,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.000000,1.0
1,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,2.0
2,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,7.0
3,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,15.0
4,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,21.0
...,...,...,...,...,...,...,...,...,...,...,...
6784,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,2000.0
6785,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,2250.0
6786,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3000.0
6787,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3182.0
6788,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3652.0

In [57]:
import numpy as np

truc = input_data_no_nan[(input_data_no_nan['Site'] == 2) & (input_data_no_nan['SubCatch'] == 2) & (input_data_no_nan['Rate'] == 7.0)]["HError"]
print(truc.item())
if truc.item() == np.nan:
    print("bouh")

0.03880640074615747

<ipython-input-57-5ab5f516bf79>:4: FutureWarning: `item` has been deprecated and will be removed in a future version
  print(truc.item())
<ipython-input-57-5ab5f516bf79>:5: FutureWarning: `item` has been deprecated and will be removed in a future version
  if truc.item() == np.nan:

In [61]:
# Get indexes where name column has value john and 
# value column equals to 0.0

#2 2 7
#input_data_no_nan[(input_data_no_nan['Site'] == 2) & (input_data_no_nan['SubCatch'] == 2) & (input_data_no_nan['Rate'] == 7.0)]["HError"]
indexNames = input_data_no_nan[(input_data_no_nan['HError'] == np.nan)].index
# Delete these row indexes from dataFrame
input_data_no_nan.drop(indexNames , inplace=True)
input_data_no_nan

,Site,SubCatch,Slope,Elevation,LC,SAR,Area,CV,HV,HError,Rate
0,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.000000,1.0
1,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,2.0
2,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,7.0
3,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,15.0
4,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,0.003310,21.0
...,...,...,...,...,...,...,...,...,...,...,...
6784,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,2000.0
6785,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,2250.0
6786,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3000.0
6787,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3182.0
6788,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,0.003682,3652.0

In [34]:
#print(input_data_no_nan[(input_data_no_nan['HError'] == 'nan')])
#input_data_no_nan.to_csv("test.csv", index=False)

Empty DataFrame
Columns: [Site, SubCatch, Slope, Elevation, LC, SAR, Area, CV, HV, HError, Rate]
Index: []

In [62]:
y = input_data_no_nan.filter(["Site", "SubCatch", "HError"], axis=1)
y

      Site  SubCatch    HError
0        1         1  0.000000
1        1         1  0.003310
2        1         1  0.003310
3        1         1  0.003310
4        1         1  0.003310
...    ...       ...       ...
6784    39         9  0.003682
6785    39         9  0.003682
6786    39         9  0.003682
6787    39         9  0.003682
6788    39         9  0.003682

[6248 rows x 3 columns]

In [63]:
X = input_data_no_nan.drop("HError", axis=1)
X

,Site,SubCatch,Slope,Elevation,LC,SAR,Area,CV,HV,Rate
0,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,1.0
1,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,2.0
2,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,7.0
3,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,15.0
4,1,1,1.203898,8.936689,319.676414,1.000254,1648125,167,211,21.0
...,...,...,...,...,...,...,...,...,...,...
6784,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,2000.0
6785,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,2250.0
6786,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,3000.0
6787,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,3182.0
6788,39,9,5.605823,217.943283,640.819977,1.001974,5394375,0,26,3652.0

In [64]:
def get_train_and_test_data(X, y, test_site):
    y_test = y[y.Site == test_site]
        ## We do not want to take the site number into account for the prediction
    del y_test["Site"]
    del y_test["SubCatch"]

        # Removing the data for the site we want to predict
    y_train = y.drop(y[y.Site == test_site].index)
        ## We do not want to take the site number into account for the prediction
    del y_train["Site"]
    del y_train["SubCatch"]

        # Splitting the x (features) into training and testing data
    X_test = X[X.Site == test_site]
        ## We do not want to take the site number into account for the prediction
    del X_test["Site"]
    del X_test["SubCatch"]

        # Removing the data for the site we want to predict
    X_train = X.drop(X[X.Site == test_site].index)
        ## We do not want to take the site number into account for the prediction
    del X_train["Site"]
    del X_train["SubCatch"]
    
    return X_train, X_test, y_train, y_test

In [65]:
test_site=33
X_train, X_test, y_train, y_test = get_train_and_test_data(X, y, test_site=33)

In [97]:
X_train
y_test

        HError
5124  0.000000
5125  0.002806
5126  0.002806
5127  0.002806
5128  0.002806
...        ...
5330  0.002283
5331  0.002283
5332  0.002283
5333  0.002283
5334  0.002283

[210 rows x 1 columns]

In [67]:
y_train.describe(include='all')

            HError
count  6038.000000
mean      0.074765
std       0.238763
min       0.000000
25%       0.002359
50%       0.003314
75%       0.055869
max       4.166343

In [96]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

forest = RandomForestRegressor(
        n_estimators=1000, criterion="mse", random_state=1, n_jobs=-1
    )
forest.fit(X_train, y_train.values.ravel())

    # Predicting results
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

    # print(y_test_pred, X_test)

mse_train = mean_squared_error(y_train, y_train_pred)
mse_test = mean_squared_error(y_test, y_test_pred)
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)
    # print('MSE train: %.3f, test: %.3f' % (mse_train, mse_test))
    # print('R^2 train: %.3f, test: %.3f' % (r2_train,r2_test))

liste_y_test_HError = y_test["HError"].tolist()
test_site=33
#print(liste_y_test_HError)
subCatchment_numbers = y[y["Site"]==test_site]["SubCatch"].to_list()
rates = X[X["Site"]==test_site]["Rate"].to_list()
#print(subCatchment_numbers, rates)
#print(y_test_pred)
p_test, p_pred = get_real_and_pred_pmax(subCatchment_numbers, rates, liste_y_test_HError, y_test_pred)

Real value of p:  {2: 330.0, 4: 330.0, 5: 330.0, 6: 330.0, 7: 3652.0, 8: 330.0, 9: 330.0}
Predicted value of p:  {2: 200.0, 4: 365.0, 5: 365.0, 6: 200.0, 7: 330.0, 8: 3652.0, 9: 2250.0}

In [95]:
def get_real_and_pred_pmax(subCatchment_numbers, rates, liste_y_test_HError, y_test_pred, H_limit=0.1):
    subcatch = 0
    p_test = {}
    p_pred = {}
    for index_sub in range(len(subCatchment_numbers)):
        if subCatchment_numbers[index_sub] != subcatch:
            subcatch = subCatchment_numbers[index_sub]
            pmaxTest_found = False
            pmaxPred_found = False
            
        if pmaxTest_found is False and liste_y_test_HError[index_sub] > H_limit:
            p_test[subcatch] = rates[index_sub -1]
            pmaxTest_found = True
        elif pmaxTest_found is False and index_sub == len(subCatchment_numbers)-1:
                p_test[subcatch] = rates[-1]
        elif pmaxTest_found is False and subCatchment_numbers[index_sub+1] != subcatch:
                p_test[subcatch] = rates[-1]
        
        
        if pmaxPred_found is False and y_test_pred[index_sub] > H_limit:
            p_pred[subcatch] = rates[index_sub -1]
            pmaxPred_found = True
        elif pmaxPred_found is False and index_sub == len(subCatchment_numbers)-1:
                p_pred[subcatch] = rates[-1]
        elif pmaxPred_found is False and subCatchment_numbers[index_sub+1] != subcatch:
                p_pred[subcatch] = rates[-1]
    
    print("Real value of p: ", p_test)
    print("Predicted value of p: ", p_pred)
    return p_test, p_pred